{% extends 'main/base.html' %}
{% load static %}
{% include 'main/includes/styles.html' %}
{% block content %}
<div class="container mt-4">

    <div class="col-md-6 offset-md-3">

        <div class="card-body">
            <h2 class="card-title">Управление рассылками</h2>

            <form method="post">
                <p class="card-text">
                    Чтобы зарегистрировать новый аккаунт, пожалуйста, заполните форму:</p>
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm">Зарегистрироваться</button>
                <a href="{% url 'main:home' %}" class="btn btn-primary btn-sm">Отмена</a>

            </form>
        </div>
    </div>
</div>
{% endblock %}