{% extends 'main/base.html' %}
{% block title %}
    {% if object %}
    Изменить клиента
    {% else %}
    Добавить клиента
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="col-md-6 offset-md-3">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-sm">
                {% if object %}
                Сохранить изменения
                {% else %}
                Создать клиента
                {% endif %}
            </button>
            <a href="{% url 'main:client_list' %}" class="btn btn-primary btn-sm">Отмена</a>
        </form>

    </div>
</div>
{% endblock %}

