{% extends 'main/base.html' %}
{% load static %}
{% include 'includes/styles.html' %}
{% block content %}

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-11 m-3">
        <h1 class="featurette-heading fw-normal lh-1">Количество рассылок: {{count_mailing}} штук </h1>
        <h1 class="featurette-heading fw-normal lh-1">Активныe рассылки: {{count_mailing_active}} штук </h1>
        <h1 class="featurette-heading fw-normal lh-1">Уникальные клиенты: {{count_unique_client}} человек </h1>
      </div>
        <h2 class="featurette-heading fw-normal lh-1 col-md-11 m-3"> Статьи: штук </h2>
        {% for object in blog_random %}
        <div class="col-md-12 m-md-4">
            <p class="featurette-heading fw-normal lh-1">{{object.title}} </p>
            <p class="lead">{{object.context|linebreaks|truncatewords:10}}</p>
        </div>
        {% endfor %}
    </div>
    <hr class="featurette-divider">

{% endblock %}

