{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <article class="blog-post m-md-4">
        <h2 class="display-5 link-body-emphasis mb-1">{{ message.title }}</h2>


        <div class="m-md-5">
            <span class="text-muted">{{mailing.mailing_time}}</span>
            <span class="text-muted">{{mailing.periodicity}}</span>
            <span class="text-muted">{{mailing.mailing_status}}</span>
            <span class="text-muted">{{mailing.is_active}}</span>
            <span class="text-muted">Создал: {{message.creator.email}}</span>
        </div>

    </article>

{% endblock %}