{% extends 'main/base.html' %}
{% load static %}
{% include 'includes/styles.html' %}
{% block title %}
Рассылка
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Пользователи</h2>
                    <p class="card-text">
                        Управление пользователями.</p>
                    <a href="{% url 'main:client_list' %}" class="btn btn-primary btn">Показать всех</a>
                    <a href="{% url 'main:client_create' %}" class="btn btn-primary btn">Добавить пользователя</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
    <div class="col-md-11 m-2">
      <a href="{% url 'main:mailing_create' %}" class="btn btn-sm btn-outline-secondary">Создать рассылку</a>
    </div>

{% for object in mailing_list %}

    <div class="row featurette">
      <div class="col-md-12 m-md-4">
        <h2 class="featurette-heading fw-normal lh-1">{{object.title}}</h2>
        <p class="lead">{{object.context|linebreaks|truncatewords:10}}</p>
        <p class="lead">{{object.is_active}} / {{object.mailing_status}} / {{object.periodicity}} / {{object.mailing_time}}</p>
      </div>
    </div>

    <div class="btn-group m-md-4">
            <a href="{% url 'main:mailing_item' object.pk %}" class="btn btn-sm btn-outline-secondary">Просмотр</a>
            <a href="{% url 'main:mailing_update' object.pk %}" class="btn btn-sm btn-outline-secondary">Изменить</a>
            <a href="{% url 'main:mailing_delete' object.pk %}" class="btn btn-sm btn-outline-secondary">Удалить</a>
    </div>


    <hr class="featurette-divider">

{% endfor %}
{% endblock %}


